@charset "UTF-8";
body{
    background-image: linear-gradient(to top,#23659f,#ccdae7);
    min-height: 100vh;
    
}
header{
    text-align: center;
    color: rgb(132, 62, 102);
}
section{
    background: rgb(238, 238, 225);
    width: 300px;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.415);

}
input{
    width: 80px;

    
}

div#res{
    padding: 5px;
}

footer{
    color: rgb(38, 38, 38);
    font-style: italic;
    text-align: center;
    
}